<!DOCTYPE html>
<html>
  <head>
    <title>InfoHubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mint by Grozav is a flat design approach towards Admin Dashboards. Intuitive, cutting-edge, clean and easy to use and customize, as every Application UI should be. ">
    <meta name="keywords" content="mint, flat, admin, dashboard, app, template, theme, grozav, admin template, admin dashboard, bootstrap, admin bootstrap, awesome" />
    <link rel="author" href="http://grozav.com"/>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Mint Admin CSS - Include with every page -->
    <link href="/admin/css/style.css" rel="stylesheet">
        
    <!-- libs -->
    <script src="/admin/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload-shim.min.js"></script>
    <script src="/admin/js/lib/angular/angular.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/admin/js/lib/angular-route/angular-route.min.js"></script>
    <script src="/admin/js/lib/angular-cookies/angular-cookies.min.js"></script>

    <!-- Main Angular App.js  -->
    <script src="/admin/js/app.js"></script>   
    <script src="/admin/js/services/rest.js"></script>
    <script src="/admin/js/controllers/devices.view.controller.js"></script>
    <script src="/admin/js/controllers/templates.view.controller.js"></script>
		
  </head>

	<body ng-app="infoHubs" ng-controller="EntryController" ng-init="init()">

		<div class="loading-overlay" ng-show="loading">
	    <div spinner spin="loading"></div>
		</div>
    <div id="wrapper">
	    <div class="header">
	      <div class="header-logo-background">
	        <div class="header-logo"></div>
	      </div>
	      <!--NOTE: This nav-toggle doesn't work. This will be addressed ASAP -->
	      <a id="nav-toggle" href="#" side-nav><span></span></a>
	    </div>
      <div class="content-wrapper">
        <!--SIDEBAR: as with the header, this section should have its own partial -->
        <div class="sidebar ng-scope">
          <div class="user-info ng-scope">
            <div class="user-image ng-isolate-scope" image="" image-url="modelLocator.user.image" style="background-image: url(/admin/img/profile-1.jpg);"></div>
            <div class="user-name ng-binding">David Champion</div>
          </div>
          <div class="accordion-container ng-scope" ios-scroll="">
            <accordion>
              <div class="panel-group" id="side-accordion">
                <div class="accordion-group panel panel-default ng-isolate-scope" is-open="true">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseOne">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-envelope fa-fw fa-3x"></div>
                          <div class="accordion-header-label">DEVICES</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapseOne" >
                    <div class="panel-body">
                      <div class="device-item" ng-repeat="device in devices track by $index">
                        <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/admin/entries" class="panel-heading">
                  <h4 class="panel-title">
                    <div class="accordion-header ng-scope">
                      <div class="accordion-header-icon fa fa-edit fa-fw fa-3x"></div>
                      <div class="accordion-header-label">CONTENT</div>
                    </div>
                  </h4>
                </a>
                <a href="/admin/templates" class="panel-heading">
                  <h4 class="panel-title">
                    <div class="accordion-header ng-scope">
                      <div class="accordion-header-icon fa fa-th fa-fw fa-3x"></div>
                      <div class="accordion-header-label">TEMPLATES</div>
                    </div>
                  </h4>
                </a>
                <a href="/admin/analytics" class="panel-heading">
                  <h4 class="panel-title">
                    <div class="accordion-header ng-scope">
                      <div class="accordion-header-icon fa fa-bar-chart-o fa-fw fa-3x"></div>
                      <div class="accordion-header-label">ANALYTICS</div>
                    </div>
                  </h4>
                </a>
              </div>
            </accordion>
          </div>
        </div>
        <!--END SIDEBAR  -->

        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header text-asbestos">Content</h3>
            </div>
          </div>
          <!-- /.col-lg-12 -->
					<div class="row">
            <div class="col-lg-12">       
						  <div style="border-bottom:none" class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Manage Entries</a>
	                </h4>
	              </div>
	              <div id="collapseFive" class="panel-collapse collapse in">
	                <div class="panel-body">
	                	<div class="col-sm-12 search-container">
		                	<div class="form-group col-sm-10 padding-none margin-none">
	                	    <label class="control-label">Select Venue</label>
	                      <input class="form-control" ng-model="searchEntry" placeholder="Venue Name" />
	                    </div>
	                    <div class="form-group col-sm-2 padding-none venue-search-container">
	                      <button data-toggle='modal' href='#loginModal' ng-click="searchEntries()" class="btn btn-default venue-search">Search</button>
	                    </div>
                    </div>
                    <div class="form-group col-sm-12">
	                    <h5>Foursquare Venues</h5>
	              	    <ul>
	              	      <li ng-repeat="entry in searchResults.foursquare track by $index">
	              	      	<a ng-click="selectFoursquareEntry($index)" href="">{{ entry.title }}</a>
	              	      </li>
	              	    </ul>
                    </div>
                    <div class="form-group col-sm-12">
											<h5>Other Venues</h5>
	        	          <ul>
	        	            <li ng-repeat="entry in searchResults.infohubs track by $index"><a ng-click="selectInfoHubsEntry($index)" href="">{{ entry.title }}</a></li>
	        	          </ul>
        	          </div>
						  			<div class="form-group col-sm-12 col-md-6">
		                  <label>Template B</label>
										  <div class="form-horizontal">
							  	 			<h3 class="entry-title">{{selectedEntry.title}}</h3>							  
		              		  <input class="form-control" ng-model="selectedEntry.url" placeholder="Primary URL"> 
		              		  <input class="form-control" ng-model="selectedEntry.secondaryUrls['Menu']" placeholder="Button URL"> 
		              		  <input class="form-control" placeholder="Button Text">
		              		</div>
                	  </div>
                	  <div class="form-group col-sm-12 margin-none">
								  	  <label>Images</label>
								  	</div>
								  	<div class="form-group col-sm-12 entry-images-container">
                      <div class="col-sm-4 entry-images-outer form-group">  
                        <div class="entry-images-inner" style="border-bottom:none">
                          <div class="fa fa-plus-circle add-image" ng-hide="selectedEntry.logo"></div>
                          <div class="entry-images-container" ng-file-drop="onFileSelect($files, 'logoUpdate')">
                            <div class="dummy"></div>
                             <img class="content" image ng-src="/site/images/{{selectedEntry.logo}}?crop=160" />
                          </div>
                        </div>
                        <div class="entry-images-label">
                          LOGO
                        </div>
                      </div>
                      <div class="col-sm-4 entry-images-outer form-group">  
                        <div class="entry-images-inner" style="border-bottom:none">
                          <div class="fa fa-plus-circle add-image" ng-hide="selectedEntry.backgroundImage"></div>
                          <div class="entry-images-container" ng-file-drop="onFileSelect($files, 'backgroundImageUpdate')">
                            <div class="dummy"></div>
                             <img class="content" image ng-src="/site/images/{{selectedEntry.backgroundImage}}?crop=160" />
                          </div>
                        </div>
                        <div class="entry-images-label">
                          BACKGROUND
                        </div>
                      </div> 
							  		</div>  
							  		<div class="col-sm-12 form-group">
	                    <button data-toggle='modal' href='#' class="btn btn-success" ng-click="updateEntry()" class="btn btn-success" id="btn-save">Save</button>
	                  </div>            
	                </div>
	              </div>
						  </div>

							<div style="border-bottom:none;" class="panel panel-default">
	              <div class="panel-heading">
	                <h4 class="panel-title">
	                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Create New Entry</a>
	                </h4>
	              </div>
	              <div id="collapseTwo" class="panel-collapse collapse in">
                  <div class="panel-body">
							  		<div class="col-sm-12 col-md-6 form-group">
							  			<label>Template B</label>
							  			<input class="form-control" ng-model="newEntry.url" placeholder="PrimaryURL"> 
							  		</div>
                  	<div class="col-sm-12">
                    	<div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Delete</th>
                              <th>Purpose</th>
                              <th>URL</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="purpose in purposeKeys()">
                              <td><a ng-click="deleteButton(purpose)" href="">delete</a></td>
                              <td>{{ purpose }}</td>
                              <td>{{ newEntry.secondaryUrls[purpose] }}</td>
                            </tr>
                          </tbody>
                        </table>	    
                      </div> 
                    </div>    
                    <div class="col-sm-4 form-group">
                      <span>Purpose</span><br>
                      <select ng-model="secondaryUrlPurpose" class="form-control"><!-- have to find a way to make this key the value of the option in angular -->
                      	<option value="Menu">Menu</option>
                      	<option value="Reservations">Reservations</option>
                      	<option value="Gallery">Gallery</option>
                        <option value="Buy Now">Buy Now</option>
                        <option value="Book Now">Book Now</option>
                        <option value="Schedule">Schedule</option>
                        <option value="Check In">Check In</option>
                        <option value="Rates">Rates</option>
                        <option value="Map">Map</option>
                        <option value="Directions">Directions</option>
                        <option value="Reviews">Reviews</option>
                        <option value="More Info">More Info</option>
                      </select>
                    </div>
                    <div class="col-sm-3 form-group">
                      <span>URL</span>
                      <input type="text" class="inputs form-control" placeholder="http://www.google.com" ng-model="secondaryUrlLink">
                    </div>
                    <div class="col-sm-5 form-group add-button">
                      <button data-toggle='modal' href='#' class="btn btn-primary" ng-click="addSecondaryUrl()">Add</button>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
              		        <input class="form-control" ng-model="newEntry.title" placeholder="Title"> 
              		      </div>
              		    </div>
              		  </div>
              		  <div class="row">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-6">
              		        <input class="form-control" ng-model="newEntry.street" placeholder="Address"> 
              		      </div>
              		    </div>
              		  </div>
              		  <div class="row">
                      <div class="col-sm-12 form-group">
                        <div class="col-sm-6">	         
              		        <input class="form-control" ng-model="newEntry.phone" placeholder="Phone number"> 
            				    </div>
            				  </div>
            				</div>
            			  <div class="row">
                      <div class="col-sm-12 form-group">
                      	<div class="col-sm-1">
	                		  <label>Rating</label>
							  		    <select ng-model="newEntry.rating" style="width:100px;" class="form-control"><!-- have to find a way to make this key the value of the option in angular -->
                        	<option value="1">1</option>
                        	<option value="2">2</option>
                        	<option value="3">3</option>
                        	<option value="4">4</option>
                        	<option value="5">5</option>
                        	<option value="6">6</option>
                        	<option value="7">7</option>
                        	<option value="8">8</option>
                        	<option value="9">9</option>
                        	<option value="10">10</option>
                        </select>
                        </div>
                      </div>
                    </div>
            			  <div class="row">
                      <div class="col-sm-12 form-group">
                      	<div class="col-sm-6 form-group">
                    			<input class="form-control" ng-model="newEntry.foursquareGenre" placeholder="Genres"> 
                    		</div>
                    	</div>	
                    </div>
                    <!---------------------------------->
                	  <div class="form-group col-sm-12 margin-none">
								  	  <label>Images</label>
								  	</div>
								  	<div class="form-group col-sm-12 entry-images-container">
                      <div class="col-sm-4 entry-images-outer form-group">  
                        <div class="entry-images-inner" style="border-bottom:none">
                          <div class="fa fa-plus-circle add-image" ng-hide="newEntryLogo.id"></div>
                          <div class="entry-images-container" ng-file-drop="onFileSelect($files, 'logo')">
                            <div class="dummy"></div>
                             <img class="content" image ng-src="/site/images/{{newEntryLogo.id}}?crop=160" />
                          </div>
                        </div>
                        <div class="entry-images-label">
                          LOGO
                        </div>
                      </div>
                      <div class="col-sm-4 entry-images-outer form-group">  
                        <div class="entry-images-inner" style="border-bottom:none">
                          <div class="fa fa-plus-circle add-image" ng-hide="newEntryBackgroundImage.id"></div>
                          <div class="entry-images-container" ng-file-drop="onFileSelect($files, 'backgroundImage')">
                            <div class="dummy"></div>
                             <img class="content" image ng-src="/site/images/{{newEntryBackgroundImage.id}}?crop=160" />
                          </div>
                        </div>
                        <div class="entry-images-label">
                          BACKGROUND
                        </div>
                      </div> 
							  		</div>  
							  		<div class="col-sm-12 form-group">
	                    <button data-toggle='modal' href='#' class="btn btn-success" ng-click="submitEntry()" class="btn btn-success" id="btn-save">Save</button>
	                  </div>               
	                </div>
								</div>
              </div>
            </div>
            <!-- /#page-wrapper -->
          </div>
        </div>
      </div>
      <!-- /#wrapper -->
    </div>  
    <script src="/admin/js/jquery-1.10.2.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <!-- Mint Admin Scripts - Include with every page -->
    <script src="/admin/js/mint-admin.js"></script>

		<script src="/admin/js/knob.js"></script>
		<script src="/admin/js/spin.js"></script> 
		
		<script src="http://malsup.github.com/jquery.form.js"></script>
  </body>

</html>
