<!DOCTYPE html>
<html>

  <head>
	  {{head}}


    <link href="https://raw.githubusercontent.com/dennykwon/InfohubsAdmin/GMadminhome/css/mint-admin.css" rel="stylesheet">


  	<script src="/admin/js/services/rest.js"></script>
		<script src="/admin/js/controllers/devices.view.controller.js"></script>
		<script src="/admin/js/controllers/templates.view.controller.js"></script>

		
  </head>
	<body ng-app="infoHubs" ng-controller="devicesViewController" ng-init="init()">

  	<div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
  	</div>
    <div id="wrapper">
      <!--HEADER: include in partial -->
      <div class="header">
        <div class="header-logo-background">
          <div class="header-logo"></div>
        </div>
        <a id="nav-toggle" href="#" side-nav><span></span></a>
      </div>
      <div class="content-wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <div class="user-info-wrapper">	
                  <div class="user-info-profile-image">
                    <img src="/admin/img/profile-1.jpg" alt=""  width="65" height="65">
                  </div>
                  <div class="user-info">
                    <div style="height:70px;text-align:bottom" class="username">David <strong>Champion</strong></div>
                  </div>
                </div>
              </li>
              <li>
                <a href="#"><i class="fa fa-envelope fa-fw fa-3x"></i> Devices<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                  <li ng-repeat="device in devices track by $index">
                    <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                  </li>              
                </ul>
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-edit fa-fw fa-3x"></i> Content</a>
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-th fa-fw fa-3x"></i> Templates</a>
              </li>
              <li>
                <a href="tables.html"><i class="fa fa-bar-chart-o fa-fw fa-3x"></i> Analytics</a>
              </li>
            </ul>
            <!-- /#side-menu -->
          </div>
          <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header text-asbestos">Device Info | {{ selectedDevice.name }}</h3>
            </div>
          </div>
          <!-- /.col-lg-12 -->
          <br /><br />
          <div class="row">
            <div class="col-lg-12">
              <div style="border-bottom:none" class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Device Settings</a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse collapse">
                  <div class="panel-body">
                    <div class="form-group">
                      <label>Device Name</label>
                      <input style="width:90%" class="form-control" ng-model="selectedDevice.name" placeholder="Device Name">
                    </div>           
                    <div class="row">
                      <div class="col-xs-6 col-md-3">
                        <label>Latitude</label>
                        <input class="form-control" ng-model="selectedDevice.latitude" placeholder="Latitude">
                      </div>
                      <div class="col-xs-6 col-md-3">
                        <label>Longitude</label>
                        <input class="form-control" ng-model="selectedDevice.longitude" placeholder="Longitude">
                      </div>
                    </div>              
                    <hr />                
                    <div style="margin-top:20px">
                      <h2>Images</h2>
                    </div>
                    <div class="row" style="margin-top:20px">
                      <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                          <div class="panel-body asbestos">
                            <img src="/site/images/{{ selectedDevice.image }}?crop=160" />
                          </div>
                          <div class="panel-footer">
                            <span class="panel-eyecandy-title">Logo</span>
                          </div>
                        </div>
    			              <div class="dropZone" ng-file-drop="onFileSelect($files, 'logo')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                      </div>
                      <!-- /.col-xs-6 col-md-3 -->
                      <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                          <div class="panel-body theme-color">
                            <img src="/site/images/{{ selectedDevice.coverScreen }}?crop=160" />
                          </div>
                          <div class="panel-footer">
                            <span class="panel-eyecandy-title">Cover Screen</span>
                          </div>
                        </div>
    			              <div class="dropZone" ng-file-drop="onFileSelect($files, 'coverScreen')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                      </div>
                      <!-- /.col-xs-6 col-md-3 -->
                      <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                          <div class="panel-body asbestos">
                            <img src="/site/images/{{ selectedDevice.categoryScreen }}?crop=160" />
                          </div>
                          <div class="panel-footer">
                            <span class="panel-eyecandy-title">Category Screen</span>
                          </div>
                        </div>
    			              <div class="dropZone" ng-file-drop="onFileSelect($files, 'categoryScreen')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                      </div>
                      <!-- /.col-xs-6 col-md-3 -->
                    </div>
                    <hr />
                    <button ng-click="updateSelectedDevice()" class="btn btn-primary">Update Device</button>
                    <button ng-click="deleteSelectedDevice()" style="margin-left:20px;background-color:red;border-color:red" class="btn btn-primary">Delete Device</button> 
                  </div>
                </div>
              </div>
              <div style="border-bottom:none" class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Device Configuration</a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse collapse">
                  <div class="panel-body">           
  						      <div class="row" style="margin-top:20px">
  							      <div ng-repeat="categoryName in selectedDevice.configuration.sequence track by $index" class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                          <div class="panel-body asbestos">
                            <h4><a style="color:#fff" ng-click="selectCategory(categoryName)" href="">{{ categoryName }}</a></h4>
                          </div>
                          <div style="background:#fff" class="panel-footer">
                            <ol>
                              <li ng-repeat="subcategoryName in orderForCategory(categoryName) track by $index">
                                <a ng-click="selectSubcategory(categoryName, subcategoryName)" href="">{{ subcategoryName }}</a>
                              </li>
                            </ol>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div>
                    	<h4>Edit Subcategory Configuration</h4>
                      <select ng-model="currentSubcategory" ng-change="updateSubcategory()" style="width:40%;margin-top:20px" class="form-control">
                        <option ng-repeat="subcategoryName in orderForCategory(currentCategory) track by $index">{{ subcategoryName }}</option>
                      </select>
                      <br />

  							      <div id="container">  
      						   	  <div ng-repeat="page in numberOfPages() track by $index" class="contents">
      							      <div ng-show="$index%3 == 0" class="col-xs-6 col-md-3 widePanel">
                            <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 0)" href="">
                              <strong>{{ entryForIndex($index, 0) }}</strong>
                            </a>
                          </div>
      							      <div ng-show="$index%3 == 0" class="col-xs-6 col-md-3 splitPanel">
      							        <div ng-show="$index%3 == 0" class="topBoxEntry">
                              <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 1)" href="">
                                <strong>{{ entryForIndex($index, 1) }}</strong>
                              </a>
                            </div>
      							        <div ng-show="$index%3 == 0" class="bottomBoxEntry">
                              <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 2)" href="">
                                <strong>{{ entryForIndex($index, 2) }}</strong>
                              </a>
                            </div>
      							      </div>

      							      <div ng-show="($index-1)%3 == 0" class="col-xs-6 col-md-3 tallPanel">
                            <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 3)" href="">
                              <strong>{{ entryForIndex($index, 3) }}</strong>
                            </a>
                          </div>
      							      <div ng-show="($index-1)%3 == 0" class="col-xs-6 col-md-3 widePanel">
                            <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 4)" href="">
                              <strong>{{ entryForIndex($index, 4) }}</strong>
                            </a>
                          </div>
      							  
      							      <div ng-show="($index-2)%3 == 0" class="col-xs-6 col-md-3 widePanel">
                            <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 0)" href="">
                              <strong>{{ entryForIndex($index, 5) }}</strong>
                            </a>
                          </div>
      							      <div ng-show="($index-2)%3 == 0" class="col-xs-6 col-md-3 splitPanel">
      							        <div ng-show="($index-2)%3 == 0" class="topBoxEntry">
                              <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 1)" href="">
                                <strong>{{ entryForIndex($index, 6) }}</strong>
                              </a>
                            </div>
      							        <div ng-show="($index-2)%3 == 0" class="bottomBoxEntry">
                              <a style="color:#fff;text-decoration:none" ng-click="selectEntryIndex($index, 2)" href="">
                                <strong>{{ entryForIndex($index, 7) }}</strong>
                              </a>
                            </div>
      							      </div>
      							    </div>
  							      </div>
                    </div>          
  							    <div style="margin-top:20px">
                  	  <h4>Select Venue</h4>
                      <input style="width:50%" class="form-control" ng-model="searchEntry" placeholder="Venue Name"><br />
                      <button data-toggle='modal' href='#loginModal' ng-click="searchEntries()" class="btn btn-primary">Search</button>
                      <br /><br />
                      <h5>Foursquare Venues</h5>
                  	  <ul>
                  	    <li ng-repeat="entry in searchResults.foursquare track by $index">
                          <a ng-click="selectFoursquareEntry($index)" href="">{{ entry.name }}</a>
                        </li>
                  	  </ul>
                      <br />
                      <h5>Other Venues</h5>
                	    <ul>
                	      <li ng-repeat="entry in searchResults.infohubs track by $index">
                          <a ng-click="selectInfoHubsEntry($index)" href="">{{ entry.title }}</a>
                        </li>
                	    </ul>
  							    </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /#page-wrapper -->
        </div>
      <!-- /content-wrapper -->
      </div>
    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    {{scripts}}
    <script src="/admin/js/knob.js"></script>
		<script src="/admin/js/spin.js"></script> 
  	<script src="http://malsup.github.com/jquery.form.js"></script>
<!-- 		<script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script src="/admin/js/fileupload/angular-file-upload.js"></script>
    	<script src="/admin/js/homeCtr.js"></script>
 -->        
  </body>
</html>
