<!DOCTYPE html>
<html>

  <head>
    <title>InfoHubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mint by Grozav is a flat design approach towards Admin Dashboards. Intuitive, cutting-edge, clean and easy to use and customize, as every Application UI should be. ">
    <meta name="keywords" content="mint, flat, admin, dashboard, app, template, theme, grozav, admin template, admin dashboard, bootstrap, admin bootstrap, awesome" />
    <link rel="author" href="http://grozav.com"/>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Mint Admin CSS - Include with every page -->
    <link href="/admin/css/mint-admin.css" rel="stylesheet">
        
    <!-- libs -->
    <script src="/admin/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload-shim.min.js"></script>
    <script src="/admin/js/lib/angular/angular.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/admin/js/lib/angular-route/angular-route.min.js"></script>
    <script src="/admin/js/lib/angular-cookies/angular-cookies.min.js"></script>

    <!-- Main Angular App.js  -->
    <script src="/admin/js/app.js"></script>   
    <script src="/admin/js/services/rest.js"></script>
    <script src="/admin/js/controllers/devices.view.controller.js"></script>
    <script src="/admin/js/controllers/templates.view.controller.js"></script>

    
  </head>
  <body ng-app="infoHubs" ng-controller="devicesViewController" ng-init="init()">

    <div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
    </div>
    <div id="wrapper">
      <!--HEADER: include in partial -->
      <div class="header">
        <div class="header-logo-background">
          <div class="header-logo"></div>
        </div>
        <!--NOTE: This nav-toggle doesn't work. This will be addressed ASAP -->
        <a id="nav-toggle" href="#" side-nav><span></span></a>
      </div>
      <div class="content-wrapper">
        <!--SIDEBAR: as with the header, this section should have its own partial -->
        <div class="sidebar ng-scope">
          <div class="user-info ng-scope">
            <div class="user-image ng-isolate-scope" image="" image-url="modelLocator.user.image" style="background-image: url(http://localhost:8888/admin1/app/assets/img/profile-1.jpg);"></div>
            <div class="user-name ng-binding">David Champion</div>
          </div>
          <div class="accordion-container ng-scope" ios-scroll="">
            <accordion>
              <div class="panel-group" id="side-accordion" ng-transclude="">
                <div class="accordion-group panel panel-default ng-isolate-scope" is-open="true">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseOne">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-envelope fa-fw fa-3x"></div>
                          <div class="accordion-header-label">DEVICES</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapseOne" >
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <div class="device-item" ng-repeat="device in devices track by $index">
                        <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseTwo">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-edit fa-fw fa-3x"></div>
                          <div class="accordion-header-label">CONTENT</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTwo" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseThree">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-th fa-fw fa-3x"></div>
                          <div class="accordion-header-label">TEMPLATES</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseThree" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseFour">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-bar-chart-o fa-fw fa-3x"></div>
                          <div class="accordion-header-label">ANALYTICS</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFour" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
              </div>
            </accordion>
          </div>
        </div>
        <div id="page-wrapper">
          <div class="page-header text-asbestos">
            <div class="info">Device Info</div>
            <div class="pipe">&nbsp;|&nbsp; </div>
            <div class="name">{{ selectedDevice.name }}</div>
          </div>
          <!-- /.col-lg-12 -->
          <div class="row">
            <div class="col-lg-12">
              <div class="panel-group">
                <div style="border-bottom:none" class="panel panel-default device-accordion-group">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" >Device Settings</a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="form-group col-sm-12">
                        <label for="deviceName" class="control-label">Device Name</label>
                        <input class="form-control" id="deviceName" ng-model="selectedDevice.name" placeholder="Device Name">
                      </div>                             
                      <div class="col-sm-6 form-group">
                        <label for="deviceLatitude" class="control-label">Latitude</label>
                        <input class="form-control" id="deviceLatitude" ng-model="selectedDevice.latitude" placeholder="Latitude">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="deviceLongitude" class="control-label">Longitude</label>
                        <input class="form-control" id="deviceLongitude" ng-model="selectedDevice.longitude" placeholder="Longitude">
                      </div>   
                      <div class="device-images-label col-xs-12">
                        <label>Images</label>
                      </div>                                          
                      <div class="col-sm-12 device-images-container">
                        <div class="col-sm-4 device-images-outer form-group">  
                          <div class="device-images-inner" style="border-bottom:none">
                            <div class="fa fa-plus-circle add-image" ng-hide="modelLocator.editDevice.image"></div>
                            <div class="device-images-container" ng-file-drop="onFileSelect($files, 'logo')">
                              <div class="dummy"></div>
                              <div class="content" image image-id="modelLocator.editDevice.image"></div>
                            </div>
                          </div>
                          <div class="device-images-label">
                            LOGO
                          </div>
                        </div>
                        <div class="col-sm-4 device-images-outer">
                          <div class="device-images-inner" style="border-bottom:none">
                            <div class="fa fa-plus-circle add-image" ng-hide="modelLocator.editDevice.image"></div>
                            <div class="device-images-container" ng-file-drop="onFileSelect($files, 'logo')">
                              <div class="dummy"></div>
                              <div class="content" image image-id="modelLocator.editDevice.image"></div>
                            </div>
                          </div>
                          <div class="device-images-label">
                            COVER SCREEN
                          </div>   
                        </div>    
                        <div class="col-sm-4 device-images-outer">
                          <div class="device-images-inner" style="border-bottom:none">
                            <div class="fa fa-plus-circle add-image" ng-hide="modelLocator.editDevice.image"></div>
                            <div class="device-images-container" ng-file-drop="onFileSelect($files, 'logo')">
                              <div class="dummy"></div>
                              <div class="content" image image-id="modelLocator.editDevice.image"></div>
                            </div>
                          </div>
                          <div class="device-images-label">
                            CATEGORY SCREEN
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 form-group">
                        <button ng-click="updateSelectedDevice()" class="btn btn-success" id="btn-update">Update Device</button>
                        <button ng-click="deleteSelectedDevice()" class="btn btn-danger" id="btn-delete">Delete Device</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div style="border-bottom:none" class="panel panel-default device-configuration">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">Device Configuration</a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse in">
                    <div class="panel-body">   
                      <label class="control-label category-label ng-scope">Select Subcategory</label>
                      <div ng-repeat="categoryName in selectedDevice.configuration.sequence track by $index">      
                        <div class="col-sm-6 col-md-3 category-outer"> 
                          <div class="category-container">
                            <div class="category-header">{{categoryName}}</div>
                            <div class="subcategories">
                              <div class="subcategory-item" ng-repeat="subcategoryName in orderForCategory(categoryName) track by $index" ng-click="selectSubcategory(categoryName, subcategoryName)">
                                {{ subcategoryName }}
                              </div>
                            </div>
                          </div>    
                        </div> 
                      </div>
                      <div class="col-sm-12" class="subcategory-entries-container">
                        <label class="control-label subcategory-label">Edit Subcategory Entries</label>
                        <div class="subcategory-entries">
                          <div class="subcategory-container" subcategories-entries entries="modelLocator.entries" subcategory="modelLocator.selectedSubcategory" selected-entry-index="modelLocator.selectedEntryIndex">
                            <!--WARNING: This section is DUMMY DATA meant to be replaced with HTML created with Angular-->
                            <div class="box-outer ng-scope" style="left: 0px">
                              <div class="box-1-1" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">National Museum of the American Indian</div>                                    
                                </div>
                              </div>
                              <div class="box-1-2" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Fraunces Tavern Museum</div>
                                </div>
                              </div>
                              <div class="box-1-3" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Museum of American Finance</div>
                                </div>
                              </div>
                            </div>
                            <div class="box-outer ng-scope" style="left: 320px">
                              <div class="box-2-1" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">National Museum of the American Indian</div>                                    
                                </div>
                              </div>
                              <div class="box-2-2" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Fraunces Tavern Museum</div>
                                </div>
                              </div>
                            </div>
                            <div class="box-outer ng-scope" style="left: 640px">
                              <div class="box-3-1" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">National Museum of the American Indian</div>                                    
                                </div>
                              </div>
                              <div class="box-3-2" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Fraunces Tavern Museum</div>
                                </div>
                              </div>
                              <div class="box-3-3" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Museum of American Finance</div>
                                </div>
                              </div>
                            </div>
                            <div class="box-outer ng-scope" style="left: 960px">
                              <div class="box-4-1" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">National Museum of the American Indian</div>                                    
                                </div>
                              </div>
                              <div class="box-4-2" ng-click="selectEntry(0)">
                                <div class="box-grey">
                                  <div class="entry-label">Fraunces Tavern Museum</div>
                                </div>
                              </div>
                            </div>
                            <div class="box-outer ng-scope" style="left: 1280px">
                              <div class="fa fa-plus-circle entries-add-button" ng-click="addSubcategories()">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- search -->
                      <div class="col-sm-12 search-container">
                        <label class="control-label subcategory-label">Search/Select Venue</label>
                        <form name="searchForm" novalidate class="form-horizontal css-form" role="form">
                          <div class="col-sm-10 padding-none margin-none">
                            <input type="text" class="form-control" id="search" name="search" ng-model="searchEntry" placeholder="Venue Name">
                          </div>
                          <div class="col-sm-2 search-button-container padding-none margin-none">
                            <button type="submit" class="btn btn-default search-button" ng-disabled="searchForm.search.$invalid" ng-click="searchEntries()">Search</button>
                          </div>
                        </form>
                      </div>
                      <!-- search results -->
                      <div class="col-sm-12 search-results" ng-class="{ show: modelLocator.entriesSearchResults.infohubs.length, hide: modelLocator.entriesSearchResults.infohubs.length }">
                        <div style="display:block;">
                          <div class=" control-label search-results-label" style="display: none" ng-class="{ show: modelLocator.entriesSearchResults.infohubs.length, hide: modelLocator.entriesSearchResults.infohubs.length }">InfoHubs Venues</div>
                          <div ng-repeat="iVenue in modelLocator.entriesSearchResults.infohubs">
                            <div class="col-sm-6 col-md-4 margin-0 padding-0 entry-search-item-container">
                              <div class="entry-search-item" ng-click="selectEntry(iVenue)">
                                <div class="left-box"></div>
                                <div class="search-item-label">{{ entry.title }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div style="display:inline-block; width: 100%">
                          <div class="search-results-label" style="display: none" ng-class="{ show: modelLocator.entriesSearchResults.foursquare.length, hide: modelLocator.entriesSearchResults.foursquare.length }">Foursquare Venues</div>
                          <div ng-repeat="entry in searchResults.foursquare track by $index">
                            <li ><a  href="">{{ entry.name }}</a></li>
                            <div class="col-sm-6 col-md-4 margin-0 padding-0 entry-search-item-container">
                              <div class="entry-search-item" ng-click="selectFoursquareEntry($index)">
                                <div class="left-box"></div>
                                <div class="search-item-label">{{fVenue.title}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- /#page-wrapper -->
        </div>
      <!-- /content-wrapper -->
      </div>
    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="/admin/js/jquery-1.10.2.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <!-- Page-Level Plugin Scripts - Dashboard -->
<!--         <script src="/admin/js/plugins/morris/raphael-2.1.0.min.js"></script>
        <script src="/admin/js/plugins/morris/morris.js"></script>
 -->
        <!-- Mint Admin Scripts - Include with every page -->
        <script src="/admin/js/mint-admin.js"></script>

        <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
<!--         <script src="/admin/js/demo/dashboard-demo.js"></script>
 -->
    <script src="/admin/js/knob.js"></script>
    <script src="/admin/js/spin.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script>
<!--    <script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/admin/js/fileupload/angular-file-upload.js"></script>
      <script src="/admin/js/homeCtr.js"></script>
 -->        
  </body>
</html>
