<!DOCTYPE html>
<html>

    <head>
		{{head}}
		
    </head>

	<body ng-app="Home" ng-controller="HomeController" ng-init="init()">

        <div id="wrapper">
        
          {{header}}



            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <div class="user-info-wrapper">	
                                <div class="user-info-profile-image">
                                    <img src="/admin/img/profile-1.jpg" alt=""  width="65" height="65">
                                </div>
                                <div class="user-info">
                                    <div style="height:70px;text-align:bottom" class="username">Dan <strong>Kwon</strong></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope fa-fw fa-3x"></i> Devices<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li ng-repeat="device in devices track by $index">
                                    <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                                </li>
                            
                                <li>
                                    <a id="compose" href="mail.html" class="text-center">
                                        <span class="btn btn-block btn-primary">Compose</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-edit fa-fw fa-3x"></i> Content</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-th fa-fw fa-3x"></i> Templates</a>
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-bar-chart-o fa-fw fa-3x"></i> Analytics</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </nav>
            <!-- /.navbar-static-side -->




            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header text-asbestos">Device Info | {{ selectedDevice.name }}</h3>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
                
                <br /><br />

                <div class="row">
                
                    <div class="col-lg-12">
                    
                      <div style="border-bottom:none" class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Device Settings</a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse collapse">
                          <div class="panel-body">
                            <div class="form-group">
                              <label>Device Name</label>
                              <input style="width:90%" class="form-control" ng-model="selectedDevice.name" placeholder="Device Name">
                            </div>
                            
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                      <label>Latitude</label>
                      <input class="form-control" ng-model="selectedDevice.latitude" placeholder="Latitude">
                    </div>
                    <div class="col-xs-6 col-md-3">
                      <label>Longitude</label>
                      <input class="form-control" ng-model="selectedDevice.longitude" placeholder="Longitude">
                    </div>
                </div>
                            
                <hr />
                
                <div style="margin-top:20px">
                  <h2>Images</h2>
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                            <div class="panel-body asbestos">
                              <img src="/site/images/{{ selectedDevice.image }}?crop=160" />
                            </div>
                            <div class="panel-footer">
                                <span class="panel-eyecandy-title">
                                    Logo
                                </span>
                            </div>
                        </div>
  			            <div class="dropZone" ng-file-drop="onFileSelect($files, 'logo')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                    </div>
                    <!-- /.col-xs-6 col-md-3 -->
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                            <div class="panel-body theme-color">
                              <img src="/site/images/{{ selectedDevice.coverScreen }}?crop=160" />
                            </div>
                            <div class="panel-footer">
                                <span class="panel-eyecandy-title">
                                    Cover Screen
                                </span>
                            </div>
                        </div>
  			            <div class="dropZone" ng-file-drop="onFileSelect($files, 'coverScreen')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                    </div>
                    <!-- /.col-xs-6 col-md-3 -->
                    <div class="col-xs-6 col-md-3">
                        <div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                            <div class="panel-body asbestos">
                              <img src="/site/images/{{ selectedDevice.categoryScreen }}?crop=160" />
                            </div>
                            <div class="panel-footer">
                                <span class="panel-eyecandy-title">
                                    Category Screen
                                </span>
                            </div>
                        </div>
  			           <div class="dropZone" ng-file-drop="onFileSelect($files, 'categoryScreen')" ng-file-drag-over-class="optional-css-class">drop image file here</div>
                    </div>
                    <!-- /.col-xs-6 col-md-3 -->
                </div>
                            
                            <hr />
                            <button ng-click="updateSelectedDevice()" class="btn btn-primary">Update Device</button>
                            <button ng-click="deleteSelectedDevice()" style="margin-left:20px;background-color:red;border-color:red" class="btn btn-primary">Delete Device</button>
                            
                          </div>
                        </div>
                      </div>
                                    




                      <div style="border-bottom:none" class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Device Configuration</a>
                          </h4>
                        </div>
                        
                        <div id="collapseTwo" class="panel-collapse collapse collapse">
                          <div class="panel-body">
                          
						    <div class="row" style="margin-top:20px">
                
							  <div ng-repeat="categoryName in selectedDevice.configuration.sequence track by $index" class="col-xs-6 col-md-3">
                        		<div class="panel panel-primary text-center panel-eyecandy" style="border-bottom:none">
                            	  <div class="panel-body asbestos">
                              		<h4><a style="color:#fff" ng-click="selectCategory(categoryName)" href="">{{ categoryName }}</a></h4>
                            	  </div>
                            	  <div style="background:#fff" class="panel-footer">
                              	    <ol>
                                	  <li ng-repeat="subcategoryName in orderForCategory(categoryName) track by $index">{{ subcategoryName }}</li>
                              	    </ol>
                            	  </div>
                        	    </div>
                    	      </div>
                
                	        </div>
                	        
                	        <hr />
                	        
                	        <div>
                	          <h4>Edit Subcategory Configuration</h4>
                	          
                              <select style="width:40%;margin-top:20px" class="form-control">
                                <option ng-repeat="subcategoryName in orderForCategory(currentCategory) track by $index">{{ subcategoryName }}</option>
                              </select><br />
                              <button ng-click="editSubcategory()" class="btn btn-primary">Edit Subcategory</button>

							  <div id="container">
    							<div class="contents" id="one">
    							  <div class="col-xs-6 col-md-3 widePanel" style="text-align:center">
    							    <h5 style="color:#fff">Del Frisco's</h5>
    							    <span>Steakhouses</span>
    							  </div>
    							  
    							  <div class="col-xs-6 col-md-3 tallPanel">
    							    <a href="#"><img src="http://699.zuse-infohub.appspot.com/site/images/BQhLg8oU?crop=135" /></a><br />
    							    <img style="width:135px;height:144px" src="http://699.zuse-infohub.appspot.com/site/images/RZEu6sq8?crop=135" />
    							  </div>
    							</div>
    							
    							<div class="contents" id="two">
    							  <div class="col-xs-6 col-md-3 tallPanel">
    							  </div>
    							  
    							  <div class="col-xs-6 col-md-3 widePanel">
    							  </div>
    							</div>
    							
    							<div class="contents" id="three">
    							  <div class="col-xs-6 col-md-3 widePanel"></div>
    							  <div class="col-xs-6 col-md-3 tallPanel"></div>
    							</div>
    							
    							<div class="contents" id="four">
    							  <div class="col-xs-6 col-md-3 tallPanel"></div>
    							  <div class="col-xs-6 col-md-3 widePanel"></div>
    							</div>
							  </div>
                
                            </div>
                            
							<div style="margin-top:20px">
                	          <h4>Select Venue</h4>
							  
                      		  <input style="width:50%" class="form-control" ng-model="searchEntry" placeholder="Venue Name"><br />
                              <button ng-click="searchEntries()" class="btn btn-primary">Search</button>
                              
                              <br />
                              
                	          <h5>Foursqure Venues</h5>
                	          <ul>
                	            <li ng-repeat="entry in searchResults.foursquare">{{ entry.title }}</li>
                	          </ul>
                              
                              <br />

                	          <h5>Other Venues</h5>
                	          <ul>
                	            <li ng-repeat="entry in searchResults.infohubs">{{ entry.title }}</li>
                	          </ul>
							  
							</div>
                            
                            
                          
                          
                        </div>
                      </div>

                    </div>
                </div>



            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->





        <!-- Core Scripts - Include with every page -->
        {{scripts}}
        
    	<script src="http://malsup.github.com/jquery.form.js"></script>

		<script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
		<script src="/admin/js/fileupload/angular-file-upload.js"></script>
    	<script src="/admin/js/homeCtr.js"></script>
        

    </body>

</html>
