<!DOCTYPE html>
<html ng-app="infoHubs">

  <head>
    <title>InfoHubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mint by Grozav is a flat design approach towards Admin Dashboards. Intuitive, cutting-edge, clean and easy to use and customize, as every Application UI should be. ">
    <meta name="keywords" content="mint, flat, admin, dashboard, app, template, theme, grozav, admin template, admin dashboard, bootstrap, admin bootstrap, awesome" />
    <link rel="author" href="http://grozav.com"/>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Mint Admin CSS - Include with every page -->
    <link href="/admin/css/mint-admin.css" rel="stylesheet">
        
    <!-- libs -->
    <script src="/admin/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload-shim.min.js"></script>
    <script src="/admin/js/lib/angular/angular.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/admin/js/lib/angular-route/angular-route.min.js"></script>
    <script src="/admin/js/lib/angular-cookies/angular-cookies.min.js"></script>

    <!-- Main Angular App.js  -->
    <script src="/admin/js/app.js"></script>   
    <script src="/admin/js/services/rest.js"></script>
    <script src="/admin/js/controllers/devices.view.controller.js"></script>
    <script src="/admin/js/controllers/templates.view.controller.js"></script>
  </head>

	<body ng-controller="templatesViewController" ng-init="init()">
  	<div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
  	</div>
    <div id="wrapper">
      <!--HEADER: include in partial -->
      <div class="header">
        <div class="header-logo-background">
          <div class="header-logo"></div>
        </div>
        <!--NOTE: This nav-toggle doesn't work. This will be addressed ASAP -->
        <a id="nav-toggle" href="#" side-nav><span></span></a>
      </div>
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <li>
              <div class="user-info-wrapper">	
                <div class="user-info-profile-image">
                  <img src="/admin/img/profile-1.jpg" alt=""  width="65" height="65">
                </div>
                <div class="user-info">
                  <div style="height:70px;text-align:bottom" class="username">David <strong>Champion</strong></div>
                </div>
              </div>
            </li>
            <li>
              <a href="#"><i class="fa fa-envelope fa-fw fa-3x"></i> Devices<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li ng-repeat="device in devices track by $index">
                  <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-edit fa-fw fa-3x"></i> Content</a>
            </li>
            <li>
              <a href="/admin/templates"><i class="fa fa-th fa-fw fa-3x"></i> Templates</a>
            </li>
            <li>
              <a href="tables.html"><i class="fa fa-bar-chart-o fa-fw fa-3x"></i> Analytics</a>
            </li>
          </ul>
          <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
      </nav>
      <!-- /.navbar-static-side -->
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header text-asbestos">Templates</h3>
          </div>
        </div>
        <!-- /.col-lg-12 -->
        <br /><br />
        <div class="row">                
          <div class="col-lg-12">
            <div style="border-bottom:none" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Manage Templates</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse collapse">
                <div class="panel-body">
                	<h4>Select Template</h4>
                    <select ng-model="currentTemplateName" ng-change="changeCurrentTemplate()" style="width:40%;margin-top:20px" class="form-control">
                      <option ng-repeat="templateName in templateNames() track by $index">{{ templateName }}</option>
                    </select><br />
                    HTML<br />
                    <textarea ng-model="currentTemplate.html" placeholder="HTML" style="width:100%;height:300px"></textarea>
                    <br /><br />
                    CSS<br />
                    <textarea ng-model="currentTemplate.css" placeholder="CSS" style="width:100%;height:300px"></textarea>
                    <hr />
                    <button ng-click="previewTemplate()" class="btn btn-primary">Preview</button>
                    <button ng-click="updateCurrentTemplate()" style="margin-left:20px;" class="btn btn-primary">Update Template</button>
                    <button ng-click="deleteCurrentTemplate()" style="margin-left:20px;background-color:red;border-color:red" class="btn btn-primary">Delete Template</button> 
                </div>
              </div>
            </div>
            <div style="border-bottom:none" class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Create New Template</a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse collapse">
                <div class="panel-body">  
                	<div class="row">
                    <div class="col-xs-6 col-md-6">
                      <label>Name</label>
                      <input class="form-control" ng-model="newTemplate.name" placeholder="name">
                    </div>
                	</div>
                	<br /><br />
                  HTML<br />
                  <textarea ng-model="newTemplate.html" placeholder="HTML" style="width:100%;height:300px"></textarea>
                  <br /><br />
                  CSS<br />
                  <textarea ng-model="newTemplate.css" placeholder="CSS" style="width:100%;height:300px"></textarea>
                  <hr />
                	<br />
                  <button ng-click="createTemplate()" class="btn btn-primary">Create Template</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->  
    <script src="/admin/js/jquery-1.10.2.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <!-- <script src="/admin/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/admin/js/plugins/morris/morris.js"></script> -->
    <!-- Mint Admin Scripts - Include with every page -->
    <script src="/admin/js/mint-admin.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <!-- <script src="/admin/js/demo/dashboard-demo.js"></script>-->
    <script src="/admin/js/knob.js"></script>
    <script src="/admin/js/spin.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- <script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/admin/js/fileupload/angular-file-upload.js"></script>
    <script src="/admin/js/homeCtr.js"></script> -->        
  </body>
</html>
