<!DOCTYPE html>
<html ng-app="infoHubs">

  <head>
    <title>InfoHubs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mint by Grozav is a flat design approach towards Admin Dashboards. Intuitive, cutting-edge, clean and easy to use and customize, as every Application UI should be. ">
    <meta name="keywords" content="mint, flat, admin, dashboard, app, template, theme, grozav, admin template, admin dashboard, bootstrap, admin bootstrap, awesome" />
    <link rel="author" href="http://grozav.com"/>

    <!-- Core CSS - Include with every page -->
    <link href="/admin/css/bootstrap.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/admin/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="/admin/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- Mint Admin CSS - Include with every page -->
    <link href="/admin/css/mint-admin.css" rel="stylesheet">
        
    <!-- libs -->
    <script src="/admin/js/lib/jquery/dist/jquery.min.js"></script>
    <script src="/admin/js/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload-shim.min.js"></script>
    <script src="/admin/js/lib/angular/angular.js"></script>
    <script src="/admin/js/lib/danialfarid-angular-file-upload/dist/angular-file-upload.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/admin/js/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/admin/js/lib/angular-route/angular-route.min.js"></script>
    <script src="/admin/js/lib/angular-cookies/angular-cookies.min.js"></script>

    <!-- Main Angular App.js  -->
    <script src="/admin/js/app.js"></script>   
    <script src="/admin/js/services/rest.js"></script>
    <script src="/admin/js/controllers/devices.view.controller.js"></script>
    <script src="/admin/js/controllers/templates.view.controller.js"></script>
  </head>

	<body ng-controller="templatesViewController" ng-init="init()">
  	<div class="loading-overlay" ng-show="loading">
      <div spinner spin="loading"></div>
  	</div>
    <div id="wrapper">
      <!--HEADER: include in partial -->
      <div class="header">
        <div class="header-logo-background">
          <div class="header-logo"></div>
        </div>
        <!--NOTE: This nav-toggle doesn't work. This will be addressed ASAP -->
        <a id="nav-toggle" href="#" side-nav><span></span></a>
      </div>
      <div class="content-wrapper">
        <!--SIDEBAR: as with the header, this section should have its own partial -->
        <div class="sidebar ng-scope">
          <div class="user-info ng-scope">
            <div class="user-image ng-isolate-scope" image="" image-url="modelLocator.user.image" style="background-image: url(http://localhost:8888/admin1/app/assets/img/profile-1.jpg);"></div>
            <div class="user-name ng-binding">David Champion</div>
          </div>
          <div class="accordion-container ng-scope" ios-scroll="">
            <accordion>
              <div class="panel-group" id="side-accordion" ng-transclude="">
                <div class="accordion-group panel panel-default ng-isolate-scope" is-open="true">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseOne">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-envelope fa-fw fa-3x"></div>
                          <div class="accordion-header-label">DEVICES</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse in" id="collapseOne" >
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <div class="device-item" ng-repeat="device in devices track by $index">
                        <a ng-click="selectDevice($index)" href="">{{ device.name }}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseTwo">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-edit fa-fw fa-3x"></div>
                          <div class="accordion-header-label">CONTENT</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseTwo" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseThree">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-th fa-fw fa-3x"></div>
                          <div class="accordion-header-label">TEMPLATES</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseThree" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
                <div class="accordion-group panel panel-default ng-isolate-scope">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle ng-binding" data-toggle="collapse" data-parent="#side-accordion" href="#collapseFour">
                        <div class="accordion-header ng-scope">
                          <div class="accordion-header-icon fa fa-bar-chart-o fa-fw fa-3x"></div>
                          <div class="accordion-header-label">ANALYTICS</div>
                        </div>
                      </a>
                    </h4>
                  </div>
                  <div class="panel-collapse collapse" id="collapseFour" collapse="!isOpen" style="height: 0px;">
                    <div class="panel-body" ng-transclude="">
                      <accordion-heading class="ng-scope"></accordion-heading>
                      <span class="ng-scope">Testing!</span>
                    </div>
                  </div>
                </div>
              </div>
            </accordion>
          </div>
        </div>
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header text-asbestos">Templates</h3>
            </div>
          </div>
          <!-- /.col-lg-12 -->
          <div class="row">                
            <div class="col-lg-12">
              <div class="panel-group" id="accordion1">
                <div style="border-bottom:none" class="panel panel-default templates-management">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">Manage Templates</a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div class="form-group col-sm-5">
                      	<label for="select-template" class="control-label">Select Template</label>
                        <select ng-model="currentTemplateName" ng-change="changeCurrentTemplate()" class="form-control" id="select-template">
                          <option ng-repeat="templateName in templateNames() track by $index">{{ templateName }}</option>
                        </select>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="select-template" class="control-label">HTML</label>
                        <textarea ng-model="currentTemplate.html" placeholder="HTML" style="width:100%;height:300px"></textarea>
                      </div>
                      <div class="form-group col-sm-12">
                        <label for="select-template" class="control-label">CSS</label>
                        <textarea ng-model="currentTemplate.css" placeholder="CSS" style="width:100%;height:300px"></textarea>
                      </div>
                      <div class="form-group col-sm-12">
                        <button ng-click="deleteCurrentTemplate()" class="btn btn-danger" id="btn-delete">Delete Template</button> 
                        <button ng-click="updateCurrentTemplate()" class="btn btn-success" id="btn-update">Update Template</button>
                        <button ng-click="previewTemplate()" class="btn btn-info" id="btn-preview">Preview</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div style="border-bottom:none" class="panel panel-default create-templates">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">Create New Template</a>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse in">
                    <div class="panel-body">  
                    	<div class="row">
                        <div class="col-xs-6 col-md-6">
                          <label>Name</label>
                          <input class="form-control" ng-model="newTemplate.name" placeholder="name">
                        </div>
                    	</div>
                    	<br /><br />
                      HTML<br />
                      <textarea ng-model="newTemplate.html" placeholder="HTML" style="width:100%;height:300px"></textarea>
                      <br /><br />
                      CSS<br />
                      <textarea ng-model="newTemplate.css" placeholder="CSS" style="width:100%;height:300px"></textarea>
                      <hr />
                    	<br />
                      <button ng-click="createTemplate()" class="btn btn-primary">Create Template</button>
                    </div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <!-- /#content-wrapper -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->  
    <script src="/admin/js/jquery-1.10.2.js"></script>
    <script src="/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Page-Level Plugin Scripts - Dashboard -->
    <!-- <script src="/admin/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/admin/js/plugins/morris/morris.js"></script> -->
    <!-- Mint Admin Scripts - Include with every page -->
    <script src="/admin/js/mint-admin.js"></script>
    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <!-- <script src="/admin/js/demo/dashboard-demo.js"></script>-->
    <script src="/admin/js/knob.js"></script>
    <script src="/admin/js/spin.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!-- <script src="/admin/js/fileupload/angular-file-upload-shim.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/admin/js/fileupload/angular-file-upload.js"></script>
    <script src="/admin/js/homeCtr.js"></script> -->        
  </body>
</html>
